.go-back-arrow svg {
  position: absolute;
  left: 50px;
  top: 45px;
  width: 15px;
  transition: width 0.5s;
}

svg:hover {
  width: 25px;
}

.blue-change path {
  fill: rgba(152, 217, 255, 1);
}

.original-change path {
  fill: rgb(144, 144, 144);
}
