.relative-pos {
  position: relative !important;
}

.go-back-arrow svg {
  position: absolute;
  left: 50px;
  top: 45px;
  width: 15px;
  transition: width 0.5s;
  z-index: 99999;
}

svg:hover {
  width: 25px;
}

.color-change path {
  fill: rgba(152, 217, 255, 1);
}

.original-change path {
  fill: rgb(144, 144, 144);
}

.landing-main-section
{
  cursor: url('/icons/paw-edit-50px.png'), url('/icons/paw-edit-50px.svg'), auto;
}

.model-progress-bar-container {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.model-progress-bar-label {
  color: white;
  font-size: 3rem;
}

#model-progress-bar {
  width: 30%;
  margin-top: 0.5%;
  height: 2%;
}
